<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.IICPShuttle"
        tools:ignore="ObsoleteSdkInt"
        tools:targetApi="31">
        <activity
            android:name=".DriverStudentListActivity"
            android:exported="true" />
        <activity android:name=
            ".LoginActivity"
            android:exported="true"/>
        <activity
            android:name=".DriverRegisterDetails"
            android:exported="true" />
        <activity
            android:name=".AdminContactUsActivity"
            android:exported="true" />
        <activity
            android:name=".ManageScheduleHostelActivity"
            android:exported="true" />
        <activity
            android:name=".ViewScheduleHostelActivity"
            android:exported="true" />
        <activity
            android:name=".AddScheduleHostelActivity"
            android:exported="true" />
        <activity
            android:name=".DriverHomePageActivity"
            android:exported="true">
        </activity>

        <activity
            android:name=".AdminHomePageActivity"
            android:exported="true">
        </activity>

        <activity
            android:name=".HomeActivity"
            android:exported="true" />
        <activity
            android:name=".RegisterActivity"
            android:exported="true">
        </activity>

        <activity
            android:name=".AvailableTimeActivity"
            android:exported="true">
        </activity>

        <activity
            android:name=".ScanMeActivity"
            android:exported="true"></activity>

        <activity
            android:name="BookShuttleActivity"
            android:exported="true"></activity>

        <activity android:name=".RequestShuttleActivity"
            android:exported="true"></activity>

        <activity android:name=".RequestShuttleHomeActivity"
            android:exported="true"></activity>

        <activity
            android:name=".DriverScheduleActivity"
            android:exported="true">
        </activity>

        <activity
            android:name=".DriverTimeActivity"
            android:exported="true">

        </activity>

        <activity
            android:name="ConfirmationActivity"
            android:exported="true">
        </activity>

        <activity
            android:name=".DriverRegisterActivity"
            android:exported="true">


            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>